<div class="form-group">
<label for="email">Email</label>
<input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" [formControl]="email">
<small id="email" class="form-text text-muted">Votre email ne sera pas partagé</small>
</div>
<div class="form-group">
<label for="name">Nom</label>
<input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name" [formControl]="name">
</div>
<div class="form-group">
<label for="password">Mot de passe</label>
<input type="password" class="form-control" id="password" placeholder="Password" [formControl]="password">
</div>
<div class="form-group">
<label for="role">Role</label>
<input type="text" class="form-control" id="role" placeholder="Role" [formControl]="role">
</div>
<button type="submit" class="btn btn-primary" (click)="onRegister()">Register</button>


<!--<p *ngIf="email.value">Valeur inséré : </p>
<p *ngIf="email.value">Email: {{ email.value }}</p>
<p *ngIf="name.value">Nom: {{ name.value }}</p>
<p *ngIf="password.value">Password: {{ password.value }}</p>
<p *ngIf="role.value">Role: {{ role.value }}</p> -->

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Nom</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </tbody>
  </table>